body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.meme-img {
    border: 5px solid white;
}

.poster {
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}